# PostgreSQL
POSTGRES_USER=dessin
POSTGRES_PASSWORD=changeme
POSTGRES_DB=dessin

# Application
# Email (Google account) qui aura les droits admin une fois connecté
ADMIN_EMAIL=
APP_BASE_URL=http://127.0.0.1:8000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Production uniquement
# COMPOSE_PROFILES=proxy
# RESTART_POLICY=unless-stopped
